.images-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 24px;
    width: 70%;
    margin: 0 auto;
}

.images-column {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.image {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.image img {
    width: 100%;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
